<h1>Home Project</h1>
<% @projects.each do |project| %>

<p><strong><%= project.title%></strong> </p>

Go back to the <strong><%= link_to "About", root_path %></strong>
Go back to the <strong><%= link_to "Contact", root_path %></strong>
Go back to the <strong><%= link_to "Homepage", root_path %></strong>

<% end %>