// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
font-face{
    font-family: RobotoCondensed;
    src: url(/assets/fonts/roboto-condensed.light.ttf);
    font-weight: 800;
  }
  
  @font-face{
    font-family: EconomicaBold;
    src: url(/assets/fonts/economica-bold.ttf);
  }
  
  